.login-form {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--color-white);
}

.login-page-header {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--color-theme);
	font-weight: 500;
	font-style: italic;
	color: var(--color-white);
	text-align: center;
	font-size: 1.5rem;
}

.input-field {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.label {
	margin-bottom: 0.2rem;
	color: gray;
}

.text-input {
	padding: 0.5rem;
	border: 1px solid gray;
	border-radius: 0.2rem;
}

.text-input:focus {
	outline-color: #2874f0;
	caret-color: #2874f0;
}

.login-btn,
.guest-login-btn {
	text-align: center;
	width: 100%;
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 0.5rem 0;
	cursor: pointer;
}

.guest-login-btn {
	margin-top: 1rem;
	background-color: var(--color-secondary);
}

.link {
	text-decoration: italic;
	color: red;
}

@media screen and (min-width: 768px) {
	.login-form,
	.login-page-header {
		width: 40%;
		margin: 1rem auto;
	}
}
