.likedVideos-page {
	background-color: var(--bg-color);
	padding-bottom: 1rem;
}

.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) {
	.video-grid {
		padding: 1rem;
		margin: 1rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 0 1rem;
	}
}
